**/node_modules
**/dist/

.env
# Ignore all .log files 
pickcar-client/.env.local
pickcar-client/.env.development
pickcar-client/.env.production
pickcar-server/.env


pickcar/.next/

.Ds_Store
Thumbs.db

.vscode/


pickcar-client/node_modules/
pickcar-server/node_modules/
pickcar-client/dist/
pickcar-server/dist/
pickcar-client/.next/
pickcar-server/.env/
pickcar-client/.env/
node_modules

